### Assignment 1: Creating and Connecting to a Database

1. Write a Python function to create a new SQLite3 database named `test.db`.
2. Write a Python function to create a table named `employees` with columns `id` (integer), `name` (text), `age` (integer), and `department` (text) in the `test.db` database.

In [2]:
import sqlite3

connection=sqlite3.connect('test.db')
connection

In [6]:
cursor=connection.execute('''
Create table if not exists employees(
    id Integer Primary Key,
    name Text Not Null,
    age Integer,
    department Text Not Null
    )
''')

connection.commit()

### Assignment 2: Inserting Data

1. Write a Python function to insert a new employee into the `employees` table.
2. Insert at least 5 different employees into the `employees` table.

In [9]:
employee_data=[
               ('Udai',22,'student'),
               ('Udai',22,'student'),
               ('Udai',22,'student'),
               ('Udai',22,'student'),
               ('Udai',22,'student')
               ]

cursor.executemany('''
Insert into employees(name,age,department)
                   values(?,?,?)
''',employee_data)

connection.commit()

### Assignment 3: Querying Data

1. Write a Python function to fetch and display all records from the `employees` table.
2. Write a Python function to fetch and display all employees from a specific department.

In [19]:
cursor=connection.execute('SELECT * from employees')
rows=cursor.fetchall()

for row in rows:
    print(row)

connection.commit()

(1, 'Udai', 22, 'student')
(2, 'Udai', 22, 'student')
(3, 'Udai', 22, 'student')
(4, 'Udai', 22, 'student')
(5, 'Udai', 22, 'student')

In [18]:
cursor=connection.execute(
    'SELECT * from employees where department = ?',
    ("student",))

rows=cursor.fetchall()

for row in rows:
    print(row)

connection.commit()

(1, 'Udai', 22, 'student')
(2, 'Udai', 22, 'student')
(3, 'Udai', 22, 'student')
(4, 'Udai', 22, 'student')
(5, 'Udai', 22, 'student')

### Assignment 5: Deleting Data

1. Write a Python function to delete an employee from the `employees` table based on their `id`.
2. Delete at least 1 employee and display the remaining records.

In [20]:
cursor=connection.execute(
    'DELETE from employees where id = ?',
    (2,))

connection.commit()

In [21]:
cursor=connection.execute(
    'SELECT * from employees where department = ?',
    ("student",))

rows=cursor.fetchall()

for row in rows:
    print(row)

connection.commit()

(1, 'Udai', 22, 'student')
(3, 'Udai', 22, 'student')
(4, 'Udai', 22, 'student')
(5, 'Udai', 22, 'student')

### Assignment 6: Advanced Queries

1. Write a Python function to fetch and display employees older than a certain age.
2. Write a Python function to fetch and display employees whose names start with a specific letter.

In [ ]:
cursor=connection.execute('''
SELECT * from employees where age > 20
''')

rows=cursor.fetchall()

for row in rows:
    print(row)

(1, 'Udai', 22, 'student')
(3, 'Udai', 22, 'student')
(4, 'Udai', 22, 'student')
(5, 'Udai', 22, 'student')

In [34]:
U="U"

cursor=connection.execute(
"SELECT * from employees where name LIKE ?",
                          (U + "%",)
)

rows=cursor.fetchall()

for row in rows:
    print(row)

(1, 'Udai', 22, 'student')
(3, 'Udai', 22, 'student')
(4, 'Udai', 22, 'student')
(5, 'Udai', 22, 'student')

### Assignment 7: Handling Transactions

1. Write a Python function to insert multiple employees into the `employees` table in a single transaction. Ensure that if any insertion fails, none of the insertions are committed.
2. Write a Python function to update the age of multiple employees in a single transaction. Ensure that if any update fails, none of the updates are committed.

In [41]:
employee_data2=[
    ('Doiee', 22, 'student'),
    ('Jinii', 21, 'Girlfriend'),
    ('Bhaii', 23, 'Dil Tuta')
]

cursor=connection.executemany('''
INSERT into employees(name,age,department)
                              values(?,?,?)
''',employee_data2)

connection.commit()

cursor=connection.execute('SELECT * FROM employees')
rows = cursor.fetchall()

for row in rows:
    print(row)

(1, 'Udai', 22, 'student')
(3, 'Udai', 22, 'student')
(4, 'Udai', 22, 'student')
(5, 'Udai', 22, 'student')
(6, 'Doiee', 22, 'student')
(7, 'Jinii', 21, 'Girlfriend')
(8, 'Bhaii', 23, 'Dil Tuta')
(9, 'Doiee', 22, 'student')
(10, 'Jinii', 21, 'Girlfriend')
(11, 'Bhaii', 23, 'Dil Tuta')
(12, 'Doiee', 22, 'student')
(13, 'Jinii', 21, 'Girlfriend')
(14, 'Bhaii', 23, 'Dil Tuta')
(15, 'Doiee', 22, 'student')
(16, 'Jinii', 21, 'Girlfriend')
(17, 'Bhaii', 23, 'Dil Tuta')
(18, 'Doiee', 22, 'student')
(19, 'Jinii', 21, 'Girlfriend')
(20, 'Bhaii', 23, 'Dil Tuta')
(21, 'Doiee', 22, 'student')
(22, 'Jinii', 21, 'Girlfriend')
(23, 'Bhaii', 23, 'Dil Tuta')

### Assignment 8: Creating Relationships

1. Create a new table named `departments` with columns `id` (integer) and `name` (text).
2. Modify the `employees` table to include a foreign key referencing the `id` column in the `departments` table.
3. Write a Python function to insert data into both the `departments` and `employees` tables, ensuring referential integrity.

### Assignment 9: Indexing and Optimization

1. Create an index on the `name` column of the `employees` table.
2. Write a Python function to fetch and display all employees whose names start with a specific letter. Compare the performance with and without the index.

### Assignment 10: Backing Up and Restoring Data

1. Write a Python function to back up the `test.db` database to a file named `backup.db`.
2. Write a Python function to restore the `test.db` database from the `backup.db` file.