In [4]:
n=5
for i in range (n):
    for j in range (n):
        print("*",end=" ")
    print("\n")

* * * * *

* * * * *

* * * * *

* * * * *

* * * * *

In [6]:
n=5
for i in range(n):
    for j in range(i+1):
        print("*", end=" ")
    print("\n")

*

* *

* * *

* * * *

* * * * *

In [7]:
n=5
for row in range(n):
    for column in range(row+1):
        print(column+1, end=" ")
    print("\n")

1

1 2

1 2 3

1 2 3 4

1 2 3 4 5

In [8]:
n=5
for row in range(n):
    for column in range (row+1):
        print(row+1, end=" ")
    print("\n")

1

2 2

3 3 3

4 4 4 4

5 5 5 5 5

In [15]:
n=5
for row in range(n):
    for column in range(n-row,0,-1):
        print("*", end=" ")
    print("\n")

* * * * *

* * * *

* * *

* *

*