In [12]:
n=5
for row in range(n):
    for space in range (n-row,0,-1):
        print(" ",end=" ")
    for star1 in range (row+1):
        print("*",end=" ")
    for star2 in range (row):
        print("*",end=" ")
    print("\n")

          *

        * * *

      * * * * *

    * * * * * * *

  * * * * * * * * *

In [34]:
n=5
for row in range(n):
    for space in range(row):
        print(" ",end=" ")
    for star1 in range(n-row,0,-1):
        print("*",end=" ")
    for star2 in range(n-1-row,0,-1):
        print("*",end=" ")
    print("\n")

* * * * * * * * *

  * * * * * * *

    * * * * *

      * * *

        *

In [45]:
n=5
for row in range(n):
    for space in range (n-row-1,0,-1):
        print(" ",end=" ")
    for star1 in range (row+1):
        print("*",end=" ")
    for star2 in range (row):
        print("*",end=" ")
    print()

for row in range(n):
    for space in range(row):
        print(" ",end=" ")
    for star1 in range(n-row,0,-1):
        print("*",end=" ")
    for star2 in range(n-1-row,0,-1):
        print("*",end=" ")
    print()

        *
      * * *
    * * * * *
  * * * * * * *
* * * * * * * * *
* * * * * * * * *
  * * * * * * *
    * * * * *
      * * *
        *

In [11]:
n=5
for row in range (n):
    for column in range (row+1):
        print("*", end=" ")
    print("\n")
for row in range (n-1):
    for column2 in range (n-row, 1 ,-1):
        print("*",end=" ")
    print("\n")

*

* *

* * *

* * * *

* * * * *

* * * *

* * *

* *

*

In [15]:
n=5
for row in range (n):
    val =1 if row%2 !=0 else 0
    for column in range (row+1):
        print(val, end=" ")
        val = 1-val
    print("\n")

0

1 0

0 1 0

1 0 1 0

0 1 0 1 0

In [51]:
n=5
spaces=2*(n-1)

for row in range(1,n+1):
    for column in range(1,row+1):
        print(column, end="")
    for column in range(1, spaces+1):
        print(" ",end="")
    for column in range(row,0,-1):
        print(column,end="")
    print()
    spaces -= 2

1        1
12      21
123    321
1234  4321
1234554321

In [52]:
n=5
num=1
for row in range(n):
    for column in range(row+1):
        print(num, end=" ")
        num = num+1
    print("\n")

1

2 3

4 5 6

7 8 9 10

11 12 13 14 15

In [57]:
n=5
ch=ord('a')
for row in range(n):
    for column in range(row+1):
        print(chr(ch+column), end=" ")
    print("\n")

a

a b

a b c

a b c d

a b c d e

In [63]:
n=5
ch=ord('a')
for row in range(n,0,-1):
    for column in range(row):
        print(chr(ch+column), end=" ")
    print("\n")

a b c d e

a b c d

a b c

a b

a

In [64]:
n=5
ch=ord('a')
for row in range(n):
    for column in range(row+1):
        print(chr(ch+row), end=" ")
    print("\n")

a

b b

c c c

d d d d

e e e e e

In [82]:
n=5
for row in range(n):
    for column in range(ord('a')+n-1-row,ord('a')+n):
        print(chr(column),end=" ")
    print("\n")

e

d e

c d e

b c d e

a b c d e